@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700");
body header .top-line {
  text-align: center;
  background-color: #ba1f1f;
  padding: 10px 0; }
  body header .top-line h1 {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff; }
    body header .top-line h1 span {
      color: #fde950; }
    body header .top-line h1 span.tl-1 {
      font-weight: 400; }

body header .bottom-line {
  padding: 20px 0; }
  body header .bottom-line .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    body header .bottom-line .container img {
      width: 100%; }

body .content .plates {
  margin: 40px 0; }
  body .content .plates .plate {
    margin: 0 -15px; }
    body .content .plates .plate .plate-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      body .content .plates .plate .plate-title .left-column .text {
        padding: 15px 0 30px 0;
        color: #34919f; }
        body .content .plates .plate .plate-title .left-column .text h3 {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 18px;
          font-weight: 700;
          margin: 0 0 5px 0; }
        body .content .plates .plate .plate-title .left-column .text p {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 12px;
          font-weight: 400;
          margin: 0; }
      body .content .plates .plate .plate-title .right-column {
        position: relative;
        top: -28px;
        right: -5px; }
