@import 'app/libs/sass-mediaqueries/_media-queries.scss' //media queries

// @import 'smart-grid.sass'

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700');
//----------------mixins----------------//
=font($family, $size, $weight)
	font:
		family: $family
		size: $size
		weight: $weight



//----------------var----------------//
$font: 'Roboto Condensed', sans-serif

$accent-color: #34919f

body
	header
		.top-line
			text-align: center
			background-color: #ba1f1f
			padding: 10px 0
			h1
				margin: 0
				+font($font, 14px, 700)
				color: #ffffff
				span 
					color: #fde950
				span.tl-1
					font-weight: 400
		.bottom-line
			padding: 20px 0
			.container
				display: flex
				img
					width: 100%
	.content
		.plates
			margin: 40px 0
			.plate 
				margin: 0 -15px
				.plate-title
					display: flex
					justify-content: flex-start
					.left-column
						.text
							padding: 15px 0 30px 0
							color: $accent-color
							h3
								+font($font, 18px, 700)
								margin: 0 0 5px 0
							p
								+font($font, 12px, 400)
								margin: 0
						.bottles
					.right-column
						position: relative
						top: -28px
						right: -5px
								
